@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"><b>Слава Україні!</b></h1>
    <hr />
    <p>
        <h3>
            Це додаток до сайту <a href="https://mest.com.ua">"Меблі столиці"</a></p>
            <p>для контролю роботи з архітекторами,</p>
            <p>дизайнерами та виконробами</p>
        </h3>
</div>
